
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: gray;
}
header{
    width: 1300px;
    height: 726px;
   }
   header h1{
   
    font:Saira Condensed;
    font-weight:bold;
    font-size: 90px;
   }
.foundingAca{
    display: flex;
    width: 80%;
    margin: 10px auto;
    margin:60px;
}
.imgDiv img{
    width: 550px;
    height: 391px;
}
.contentDiv{
    padding: 60px;
    justify-content: center;

}
.headingFounding{
    border-left: 9px solid #B53232;
    font-size: 50px;
    padding-left: 5px;
    line-height: 90%;
}
.contentDiv p{
    margin-bottom: 5px;
    font-size: 16px;
}
.blackBox{
    width: 1300px;
    height: 300px; 
    color: white;
    background-color: black;
    margin-top: 10px;
    justify-items: center;
    justify-content: center;

}
 .blackBox h1{
font-size: 45px;
margin-top: 20px;

}
.blackBox a{
color: rgb(128, 128,128);
margin-top: 100px;
margin-bottom: 20px;
padding: 500px;
 


}
.blackBox a :hover{
    text-decoration: underline;
    
}
.red{
    color:red;
}
.CoachSection{
 
}
.coachimg img{
   width: 300px;
   margin: 20px 80px;
}
.content{
    margin-left: 80px;
    margin-top: 45px;
}
.content h6{
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: rgba(179, 4, 4, 0.767);
}
h4{
    font-size: 45px;
    font-weight: bold;
    font-family: Saira  condensed;
}
.content p{
    padding: 15px;
}
.CoachSection{
display: flex;
 width: 1100px;
 height: 350px;

}


